<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>addExpress</servlet-name>
        <servlet-class>cf.tgtiger.express.AddExpress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getFirstSk</servlet-name>
        <servlet-class>cf.tgtiger.express.GetFirstSk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSk</servlet-name>
        <servlet-class>cf.tgtiger.express.GetSk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStation</servlet-name>
        <servlet-class>cf.tgtiger.express.AddStation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stationLogin</servlet-name>
        <servlet-class>cf.tgtiger.express.StationLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUsers</servlet-name>
        <servlet-class>cf.tgtiger.express.AddUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userLogin</servlet-name>
        <servlet-class>cf.tgtiger.express.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getExpressByDate</servlet-name>
        <servlet-class>cf.tgtiger.express.getExpressByDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateExpressman</servlet-name>
        <servlet-class>cf.tgtiger.express.UpdateExpressman</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePassword</servlet-name>
        <servlet-class>cf.tgtiger.express.UpdatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateTrack</servlet-name>
        <servlet-class>cf.tgtiger.express.UpdateTrack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDeliverInfo</servlet-name>
        <servlet-class>cf.tgtiger.express.GetDeliverInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTrack</servlet-name>
        <servlet-class>cf.tgtiger.express.GetTrack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUserInfoByPhone</servlet-name>
        <servlet-class>cf.tgtiger.express.GetUserInfoByPhone</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addExpress</servlet-name>
        <url-pattern>/servlet/addExpress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getFirstSk</servlet-name>
        <url-pattern>/servlet/getFirstSk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSk</servlet-name>
        <url-pattern>/servlet/getSk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStation</servlet-name>
        <url-pattern>/servlet/addStation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stationLogin</servlet-name>
        <url-pattern>/servlet/stationLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUsers</servlet-name>
        <url-pattern>/servlet/addUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userLogin</servlet-name>
        <url-pattern>/servlet/userLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getExpressByDate</servlet-name>
        <url-pattern>/servlet/getExpInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateExpressman</servlet-name>
        <url-pattern>/servlet/updateExpressman</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePassword</servlet-name>
        <url-pattern>/servlet/updatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateTrack</servlet-name>
        <url-pattern>/servlet/updateTrack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDeliverInfo</servlet-name>
        <url-pattern>/servlet/getDeliverInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTrack</servlet-name>
        <url-pattern>/servlet/getTrack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUserInfoByPhone</servlet-name>
        <url-pattern>/servlet/getUserInfoByPhone</url-pattern>
    </servlet-mapping>
</web-app>